body {
background:url('klm.jpeg') left; width:200px; height:200px
}
h1 {
    text-align: center;
    font-size: 80px;
    color:silver;
    
    }
header {
padding: 40px;
background-color: rgb(17, 124, 143);
}
body {
background-image:url("Klm.jpeg");
}
